<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LISTA DE USUARIOS</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>user</th>
          <th>email</th>
          <th>active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user:${userList}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.user}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.active}"></td>
          <td>
            <a href="">EDITAR</a>
            <a href="">ELIMINAR</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
